@model IEnumerable<Geekspace.Models.LearningResource>

@{
    ViewData["Title"] = "Resource";
}

<h1>Resource</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Root"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Root"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">View</a> <text> | </text>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">View</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
